 <h6>Your browser is out of date!</h6>
 <p>Your internet browser is out of date and does not support this website. Please update your browser to view this site. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
 <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
