/*
Theme Name: 
Theme URI: 
Description: 
Author: factor1
Author URI: http://factor1studios.com/
Version:


=======================================
	TABLE OF CONTENTS
=======================================

I.		SASS SETTINGS
II.		GLOBAL SETTINGS
III.	HEADER
IV.		NAVIGATION
V.		HOME
VI.		PAGES
VII.	SUB PAGES / SPECIFIC PAGES
VIII.	BLOG / NEWS POSTS
IX.		FOOTER
X.		MEDIA QUERIES

=======================================
*/


@import '/Volumes/Storage/ericstout/Documents/GIT/sugar/_sugar.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Open+Sans+Condensed:300,300italic,700);

/*------------------------------------*\
  I.  Sass Settings
\*------------------------------------*/
//colors
$green:				#77BC1F;
$drk-green:			#63A70A;
$blue:				#0075C9;
$drk-blue:			#00609C;
$grey:				#CAC8C8;
$drk-grey:			#808285;
$red:				#DC1E35;

//fonts
$open-cond:			'Open Sans Condensed', 'Open Sans', 'Helvetica', sans-serif;
$open:				'Open Sans', 'Helvetica', sans-serif;

/*------------------------------------*\
  II.  Global Settings
\*------------------------------------*/

html, body {
border:0;
margin:0;
padding:0;
width: 100%;
height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
font:100%/1.25 arial, helvetica, sans-serif;
min-height: 100%;
 overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/***** Common Formatting *****/

h1, h2, h3, h4, h5, h6 {
margin:0;
padding:0;
font-weight:normal;
}

h1 {
padding:30px 0 25px 0;
font:2.5em $open-cond;
font-weight: bold;
color: black;
text-transform: uppercase;
}

h2 {
padding:20px 0;
font:1.5em $open-cond;
font-weight: bold;
color: $blue;
text-transform: uppercase;
	&:after{
	display: block;
	content: '';
	position: relative;
	width: 100%;
	height: 2px;
	background: $blue;
	}
}

h2.no-line{
padding:30px 0 25px 0;
font:2em $open-cond;
font-weight: bold;
color: $blue;
text-transform: none;
text-align: center;
	&:after{
	display: none;
	}
}

h3 {
font:1.125em $open;
font-weight:bold;
color: $blue;
text-transform: uppercase;
padding-bottom: 5px;
}

p, ul, ol {
font: 1.125em $open;
margin:0;
padding:0 0 18px 0;
}

//phone links
a[href^=tel]{
color: black;
text-decoration: none;
}
footer{
	a[href^=tel]{
	color: white;
	text-decoration: underline;
	}
}
@media screen and (max-width: 40em){
	a[href^=tel]{
	color: black;
	text-decoration: underline;
	}
}

.heart-red{
color: #bb1a34;
font-weight: bold;
text-transform: uppercase;
}

ul, ol {
list-style:none;
padding:0 0 18px 40px;
}

article ul,
article ol {margin: 0 0 10px 20px;}

article ul li {list-style: square; margin: 0 0 5px 5px; padding-left: 5px;}
article ol li {list-style: decimal; margin: 0 0 5px 5px; padding-left: 5px;}

article ul li ul{
margin-bottom: 0;
padding-bottom: 0;
}

[class*="block-grid-"]>li{ //fix margins on block grids inside of articles
margin: 0;
}
[class*="block-grid-"]{
margin: 0;
}

blockquote {
margin:22px 40px;
padding:0;
border-left: 0px;
}

small {
font-size:0.85em;
}

img {
border:0;
}

sup {
position:relative;
bottom:0.3em;
vertical-align:baseline;
}

sub {
position:relative;
bottom:-0.2em;
vertical-align:baseline;
}

acronym, abbr {
cursor:help;
letter-spacing:1px;
border-bottom:1px dashed;
}

/***** Links *****/

a, a:visited {
text-decoration:none;
}

/***** Forms *****/

form {
margin:0;
padding:0;
display:inline;
}

input, select, textarea {
font:1em arial, helvetica, sans-serif;
}

textarea {
line-height:1.25;
}

label {
cursor:pointer;
}

/***** Tables *****/

table {
border:0;
margin:0 0 18px 0;
padding:0;
}

table tr td {
padding:2px;
}

.page-id-72 table tr.even, table tr.alt, table tr:nth-of-type(even){
background: none;
}

/***** Fluid Iframes *****/

.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

/***** Utility Classes *****/

.clear 			{ clear:both; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.float-left 	{ float:left; }
.float-right 	{ float:right; }


.img-left, .align-left 			{ float:left;margin:4px 10px 4px 0; }
.img-right, .align-right 		{ float:right;margin:4px 0 4px 10px; }

// BUTTONS //
.button{
background: $blue;
min-width: 185px;
max-width: 270px;
padding: 10px 20px 8px;
border: 2px solid $blue;
color: white;
text-transform: uppercase;
text-align: center;
font-weight: bold;
@include border-radius(55px);
display: block;
@include transition(.4s);
	&:hover{
	background: none;
	color: $blue;
	}
}

.button-green{
background: $green;
border: 2px solid $green;
	&:hover{
	background: white;
	color: $blue;
	}
}

.button-white{
background: white;
border: 2px solid $green;
color: $blue;
text-transform: none;
@include transition(.4s);
	&:hover{
	background: $green;
	color: white;
	}
}

//gradient box style
.gradient{
height: 100px;
width: 100%;
padding: 0;
margin: 0;
position: relative;
display: block;
background: $blue;
background-image: -webkit-linear-gradient(#e7e6e5 0%, #ffffff 100%);
background-image: -moz-linear-gradient(#e7e6e5 0%, #ffffff 100%);
background-image: -ms-linear-gradient(#e7e6e5 0%, #ffffff 100%);
background-image: -o-linear-gradient(#e7e6e5 0%, #ffffff 100%);
}
/*------------------------------------*\
  III.  HEADER
\*------------------------------------*/

header{
background: white;
width: 100%;
position: relative;
display: block;
z-index: 9999;
	h1{
	position: absolute;
	top: -10000px;
	left: -10000px;
	display: block;
	}
	.logo{
	margin: 30px auto;
	display: block;
	}
	.utility{
	margin-top: 0;
		ul{
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
		display: block;
		position: relative;
			li{
			margin: 0;
			padding: 10px;
			display: inline-block;
				&:after{
				content: '';
				width: 2px;
				background: #77BC1F;
				height: 20px;
				display: inline-block;
				padding-left: 0px;
				top: 5px;
				left: 13px;
				position: relative;
				}
				a{
				color: $drk-grey;
				font-weight: bold;
				}
			}
			li:last-of-type{
				&:after{
				content:'';
				display: none;
				}
			}
		}
	}
	.social-icons{
	margin-top: 34px;
	margin-left: 55px;
		a i{
		color: $drk-grey;
		font-size: 20px;
		padding: 0 8px;
		}
	}
	.register{
	margin-top: 43px;
		.button{
		padding: 15px 20px 12px;
		font-weight: bold;
		}
	}
}

/*------------------------------------*\
 IV.   NAVIGATION
\*------------------------------------*/

header nav{
width: 100%;
height: 50px;
background-color: $green;
background-image: -webkit-linear-gradient(#64a84a 100%, #78bc4b 0%);
background-image: -ms-linear-gradient(#64a84a 100%, #78bc4b 0%);
background-image: -moz-linear-gradient(#64a84a 100%, #78bc4b 0%);
background-image: linear-gradient(#64a84a 100%, #78bc4b 0%);
position: relative;
display: block;
overflow: hidden;
margin-bottom: -1px;
	ul{
	width: 100%;
	display: table;
	position: relative;
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: visible;
		li{
		display: table-cell;
		float: none;
		border-left: 2px solid #A4D16C;
		height: 50px;
		@include transition(.4s);
			a{
			color: white;
			font-weight: 900;
			padding: 13px 8px;
			text-transform: uppercase;
			font: 1em $open-cond;
			font-weight: bold;
			display: block;
			@include transition(.4s);
				&:hover{
				color: white;
				}
			}
			ul{
			display: none;
			position: absolute;
			top: 50px;
			left: 46px;
			width: 200px;
			background: $blue;
				li{
				text-align: left;
				display: block;
				position: relative;
				padding: 14px 5px;
				border-left: none;
					a{
					font-size: 16px;
					display: block;
					position: relative;
					}
				}
			}
			&:hover{
				ul{
				display: block;
				position: absolute;
				}
			}
		}
		li:last-of-type{
		border-right: 2px solid #A4D16C;
		}
	}
}
.active-tab{
background: $blue;
@include transition(.4s);
}
//mobile panel
.panel{
padding: 20px;
	ul{
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	display: block;
		li{
		width: 50%;
		float: left;
		text-align: left;
			a{
			font: 15px $open-cond;
			font-weight: bold;
			color: $blue;
			padding: 7px 0;
			display: block;
			}
		}
	}
	.button{
	margin: 20px auto 0;
	}
	
	//mobile search
	.search-mobile{
		div{
		padding: 20px 0;
		overflow: hidden;
		width: 100%;
		height: auto;
		display: block;
		position: relative;
			input{
			outline: none;
			border: 1px solid $blue;
			width: 70%;
			color: $blue;
			height: 35px;
			padding: 0 10px;
			}
		}
	}
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after{
background: $green;
}

//mega menus
.mega-menu{
width: 100%;
height: 300px;
background: none;
position: absolute;
display: none;
top: 196px;
	.row{
	background: #CFE2F4;
	border: 2px solid #389CD9;
	height: 100%;
		.medium-8, .medium-4{
		height: 100%;
		}
		.medium-8{
		background: url(images/megamenu.png) top left no-repeat;
		@include background-cover;
		position: relative;
		display: block;
		padding: 110px 40px 0;
			p{
			color: $blue;
			font: 24px $open-cond;
			font-weight: bold;
			}
		}
		.medium-4{
		padding-right: 0;
			ul{
			width: 100%;
			padding: 0;
			margin: 20px 0 0;
			display: block;
			//position: relative;
				li{
				padding: 0 0 0 40px;
				margin: 0;
				display: block;
				//position: relative;
					a{
					padding: 6px 0px 6px 10px;
					display: block;
					width: 100%;
					font: 14px $open;
					color: #343E48;
					border: none;
					//border-bottom: 1px solid #9BC5E9;
						&:before{
						display: block;
						position: absolute;
						right: 75px;
						content: '\f061';
						font-family: 'Font Awesome', 'FontAwesome', 'font-awesome';
						color: #9BC5E9;
						font-weight: normal
						}
						&:after{
						display: block;
						width: 80%;
						height: 2px;
						background: #9BC5E9;
						position: relative;
						top: 1px;
						content: '';
						}
					}
					ul{
					display: none;
					}
					&:hover{
						a{
						background: #7FB7E4;
						font-weight: bold;
						color: #0075C9;
							&:before{
							display: block;
							position: absolute;
							right: 75px;
							content: '\f061';
							font-family: 'Font Awesome', 'FontAwesome', 'font-awesome';
							color: #0075C9;
							font-weight: normal;
							}
							&:after{
							display: block;
							width: 80%;
							height: 2px;
							background: none;
							position: relative;
							top: 1px;
							content: '';
							}
						}
						ul{
						display: block;
						//outline: 1px solid red;
						position: absolute;
						top: -20px;
						left: 98%;
						z-index: 900;
						background: #7FB7E4;
						height: 296px;
						padding-top: 20px;
						overflow: hidden;
						//width: 222.25%;
						width: 202%;
							li{
							width: 50%;
							float: left;
							display: inline-block;
								a{
								font-weight: normal;
								color: #343E48;
									&:hover{
									color: white;
									}
									&:before{
									display: inline-block;
									position: relative;
									right: 70px;
									float: right;
									//outline: 1px solid red;
									content: '\f061';
									font-family: 'Font Awesome', 'FontAwesome', 'font-awesome';
									color: #0075C9;
									font-weight: normal;
									text-align: right;
									}
									&:after{
									display: block;
									width: 80%;
									height: 2px;
									background: #0075C9;
									position: relative;
									top: 1px;
									content: '';
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*------------------------------------*\
 V.   HOME
\*------------------------------------*/
//home slider
.home-slider{
width: 100%;
height: 570px;
position: relative;
display: block;
overflow: hidden !important;
	.home-slide{
	width: 100%;
	height: 570px;
	@include background-cover;
	overflow: hidden;
	display: block;
	position: relative;
	}
	.slide-content{
	height: 570px;
	width: 100%;
	position: relative;
	display: block;
		.content-container{
		position: absolute;
		bottom: 0;
		background-image: -webkit-linear-gradient(90deg, rgba(0,52,93,0) 0%, rgba(0,52,93,0.85) 50%, rgba(255,255,255,0) 100%);
		background-image: -moz-linear-gradient(90deg, rgba(0,52,93,0) 0%, rgba(0,52,93,0.85) 50%, rgba(255,255,255,0) 100%);
		background-image: -ms-linear-gradient(90deg, rgba(0,52,93,0) 0%, rgba(0,52,93,0.85) 50%, rgba(255,255,255,0) 100%);
		background-image: linear-gradient(90deg, rgba(0,52,93,0) 0%, rgba(0,52,93,0.85) 50%, rgba(255,255,255,0) 100%);
		margin: 0 auto;
		text-align: center;
		width: 83.333%;
		margin-left: -41.6665%;
		left: 50%;
		padding-bottom: 20px;
			h1{
			color: white;
			font: 2.5em $open-cond;
			font-weight: bold;
			text-transform: none;
			line-height: 1.1em;
			}
			p{
			color: white;
			font: 1.125em $open;
			text-transform: uppercase;
			font-style: italic;
			}
		}
	}
}

.slick-prev{
left: 55px;
height: 55px;
width: 55px;
	&:before{
	content: '\f053';
	font-family: 'FontAwesome';
	font-size: 55px;
	}
}
.slick-next{
right: 55px;
height: 55px;
width: 55px;
	&:before{
	content: '\f054';
	font-family: 'FontAwesome';
	font-size: 55px;
	}
}
.slick-slider{
margin-bottom: 0;
overflow: hidden;
}
.slick-track{
overflow: hidden;
}
//counter styles
.counter{
font: 4.375em $open;
font-weight: bold;
color: $blue;
padding: 0;
}
.counter-text{
font: 1.125em $open;
font-style: italic;
padding: 0 110px 35px;
}

.top-box{
	.button-green{
	display: inline-block;
	margin: 0 10px;
	}
	h2{
	color: $green;
	font: 2.5em $open-cond;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 8px;
	}
}

//box cta section
.box-cta{
padding: 69px 0;
background: $green;
width: 100%;
position: relative;
display: block;
margin: 88px auto 64px;
}
.box-container{
width: 100%;
background: white;
padding: 10px 10px 0;
min-height: 407px;
	.small-10{
	color: $blue;
	font: 1.875em $open-cond;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2em;
	}
	i{
	font-size: 34px;
	margin-top: 3px;
	}
}
.box-image{
width: 100%;
height: 255px;
background: white;
@include background-cover;
}

//events & newsroom sections
.events-newsroom{
	h3{
	font: 2em $open-cond;
	font-weight: bold;
	color: $blue;
	display: inline-block;
	text-transform: uppercase;
	vertical-align: middle;
	}
	.button{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	float: right;
	}
	.medium-6{
	padding: 0;
	}
}

//newsroom query
//Event Styles
.newsroom-featured{
margin: 50px 0 0;
padding: 0;
list-style: none;
	hr{
	width: 80%;
	border: none;
	height: 2px;
	background: $blue;
	margin: 5px auto 10px;
	}
	.day{
	font: 50px $open;
	font-weight: bold;
	color: $blue;
	}
	.event-title{
	font: 18px $open;
	font-weight: bold;
	color: $blue;
	text-transform: uppercase;
		&:after{
		content: '';
		display: block;
		position: relative;
		height: 2px;
		background: $blue;
		width: 100%;
		}
	}
	p{
	font-size: 15px;
	}
	.button{
	float: left;
	text-transform: none;
	font-size: 15px;
	}
	li{
	margin: 0px auto;
	padding: 40px 30px 40px 0;
	list-style: none;
		.row .medium-12{
			padding: 0 58px;
		}
	}
	li:nth-child(odd){
	background: #F3F8E8;
	}
}
/*------------------------------------*\
 VI.   PAGES
\*------------------------------------*/

.page-header-no-image{
background: $blue;
background-image: -webkit-radial-gradient(#0078bb 0%, #006594 100%);
background-image: -ms-radial-gradient(#0078bb 0%, #006594 100%);
background-image: -moz-radial-gradient(#0078bb 0%, #006594 100%);
background-image: -o-radial-gradient(#0078bb 0%, #006594 100%);
height: 200px;
padding: 40px 0;
	h1{
	color: white;
	text-transform: none;
	}
}
.page-header{
width: 100%;
display: block;
position: relative;
height: 500px;
@include background-cover;
	.content-container{
	position: absolute;
	display: block;
	bottom: 0;
	background-image: -webkit-linear-gradient(90deg, rgba(0,52,93,0) 0%, rgba(0,52,93,0.85) 50%, rgba(255,255,255,0) 100%);
	background-image: -moz-linear-gradient(90deg, rgba(0,52,93,0) 0%, rgba(0,52,93,0.85) 50%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(90deg, rgba(0,52,93,0) 0%, rgba(0,52,93,0.85) 50%, rgba(255,255,255,0) 100%);
	background-image: linear-gradient(90deg, rgba(0,52,93,0) 0%, rgba(0,52,93,0.85) 50%, rgba(255,255,255,0) 100%);
	margin: 0 auto;
	text-align: center;
	width: 83.333%;
	margin-left: -41.6665%;
	left: 50%;
	height: 200px;
		h1{
		color: white;
		text-transform: none;
		padding: 40px 0 12px 0;
		}
		p{
		color: white;
		text-transform: uppercase;
		font: 1.125em $open;
		font-style: italic;
		padding: 0 200px;
		}
		@media screen and (max-width: 1200px){
			p{
			padding: 0 80px;
			}
		}
		@media screen and (max-width: 895px){
			p{
			padding: 0 10px;
			}
		}
		@media screen and (max-width: 40em){
			p{
			display: block;
			}
		}
	}
}
.page-navigation{
background: #D1D3D4;
padding: 10px 0;
}

//breadcrumbs
#crumbs{
font-family: $open;
color: $blue;
	a,span{
	color: $drk-grey;
	vertical-align: middle;
	font-weight: bold;
	font-size: 0.9375em;
	}
	a:hover{
	color: $blue;
	}
	i{
	vertical-align: middle;
	padding: 2px 5px 0;
	font-size: 12px;
	}
	.current{
	font-family: $open;
	}
}

.page-content-container{
padding: 55px 0;
	p,ol,ul{
	font-size: 0.9375em;
	}
}

//children page sidebar v2
#children_pages-2{
background: #D1D3D4;
padding: 28px 0;
	h4{
	display: none;
	}
	ul{
	padding: 0;
	margin: 0;
	@include transition(.4s);
		li{
		padding: 0;
		margin: 0;
			a{
			display: block;
			width: 100%;
			font: 1.05em $open;
			padding: 10px 28px;
			color: $drk-grey;
			font-weight: bold;
				&:hover{
				background: white;
				color: $green;
				}
			}
			ul{
			display: none;
			padding: 0;
			margin: 0;
			@include transition(.4s);
				li{
				padding: 0;
				margin: 0;
					a{
					display: block;
					width: 100%;
					font: 0.9em $open;
					font-weight: bold;
					color: $drk-grey;
					padding: 10px 28px 10px 38px;
					}
				}
			}
		}
	}
}

.sidebar-caret{
display: inline-block;
position: relative;
	&:after{
	content: '\f0da';
    font-family: 'FontAwesome','font-awesome';
    margin-left: 8px;
	}
}
.sidebar-caret-down{
display: inline-block;
position: relative;
	&:after{
	content: '\f0d7';
    font-family: 'FontAwesome','font-awesome';
    margin-left: 8px;
	}
}
.children{
	.sidebar-caret, .sidebar-caret-down{
		&:after{
			display: none !important;
			content: '' !important;
		}
	}
}

.case-study{
margin-top: 45px;
}

// Timeline CSS
.timeline{
border-left: 1px solid $grey;
position: relative;
margin-left: 75px;
	.row{
	top: -7px;
	position: relative;
	}
	.timeline-date{
	position: absolute;
	left: -130px;
	top: -11px;
		span{
		font: 1.875em $open-cond;
		font-weight: bold;
		color: $drk-grey;
		}
	}
	li{
	position: relative;
	}
	li:nth-child(odd):before{
	content: "";
	position: absolute;
	top: -2px;
	left: -3.35em;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: $green;
	border: 5px solid $green;
	}
	li:before{
	content: "";
	position: absolute;
	top: -2px;
	left: -3.35em;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: $blue;
	border: 5px solid $blue;
	}
	h2{
	padding: 0;
	}
	&:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: -5px;
	width: 5px;
	height: 139px;
	border-radius: 40px;
	background: white;
	border: 5px solid white;
	}
	.medium-3{
	padding-bottom: 40px;
	}
}

//Event Styles
.upcoming-events{
margin: 50px 0 0;
padding: 0;
list-style: none;
	.date-box{
	border: 2px solid $green;
	margin: 0 auto;
	width: 80%;
	background: white;
	}
	.month{
	font: 16px $open-cond;
	font-weight: bold;
	color: $blue;
	text-transform: uppercase;
	}
	hr{
	width: 80%;
	border: none;
	height: 2px;
	background: $blue;
	margin: 5px auto 10px;
	}
	.day{
	font: 50px $open;
	font-weight: bold;
	color: $blue;
	}
	.event-title{
	font: 18px $open;
	font-weight: bold;
	color: $blue;
	text-transform: uppercase;
		&:after{
		content: '';
		display: block;
		position: relative;
		height: 2px;
		background: $blue;
		width: 100%;
		}
	}
	p{
	font-size: 15px;
	}
	.button{
	float: left;
	text-transform: none;
	font-size: 15px;
	}
	li{
	margin: 0px auto;
	padding: 40px 30px 40px 0;
	}
	li:nth-child(even){
	background: #E7F0F9;
	}
}

//Events Page
.page-id-6 .upcoming-events{
margin-top: 0;
}
.page-id-6 .upcoming-events li {
margin: 0 auto 40px;
padding: 40px 30px 40px 0;
list-style: none;
}
.medium-8 .type-event{
margin-top: 45px;
}

// CALENDAR DISPLAY
.em-calendar{
width: 100%;
	thead{
		tr{
		background: #ebebeb !important;
		}
	}
	tr{
	height: 35px;
	}
	tr:nth-child(odd){
	background: #fcfcfc;
	}
	.eventful{
	background: $green;
	}
	.eventful-today{
	background-color: $blue !important;
	}
}
//days with events
table.em-calendar td.eventful a, table.em-calendar td.eventful-today a{
color: white;
}

/*------------------------------------*\
 VII.   SUB PAGES / SPECIFIC PAGES
\*------------------------------------*/
//certification page
article iframe{
width: 100%;
border: none;
outline: none;
min-height: 500px;
}

//landing pages
.landing-image-block{
width: 100%;
height: 300px;
@include background-cover;
margin: 40px 0;
}

//icon block grid
.icon-blocks{
width: 100%;
display: block;
position: relative;
text-align: center;
margin: 30px auto 0;
padding: 0;
overflow: hidden;
	li{
	width: 30%;
	float: none;
	position: relative;
	display: inline-block;
	border: 2px solid $green;
	padding: 32px 25px 75px;
	margin: 10px 15px;
	vertical-align: top;
		h3{
		font-size: 1.4em;
		text-transform: none;
		padding: 20px 0;
		}
		.button{
		margin: 0 auto;
		bottom: 20px;
		position: absolute;
		width: 70%;
		margin-left: -35%;
		left: 50%;
		}
	}
}

// Hospital Listings
#hospital_list{
width: 50%;
}

.single-hospital_coordinator{
	> .row > .medium-8 p:first-of-type{
	margin-top: 60px;
	}
	.addthis_toolbox{
	display: none;
	}
	h1{
	padding-bottom: 0;
	}
	.program-coordinator{
	margin-left: 0;
	padding-left: 0;
		i,a i{
		color: black;
		}
	}
	.fa-phone{
	margin-right: 8px;
	}
	.fa-envelope{
	margin-right: 5px;
	}
}


@media screen and (max-width: 1020px ){
	.icon-blocks{
		li{
		width: 30%;
		float: none;
		position: relative;
		display: inline-block;
		border: 2px solid #77BC1F;
		padding: 32px 13px;
		margin: 10px 8px;
		}
	}
}
@media screen and (max-width: 786px){
	.icon-blocks{
		li{
		width: 45%;
		}
	}
}
@media screen and (max-width: 480px){
	.icon-blocks{
		li{
		width: 90%;
		padding-bottom: 75px;
		}
	}
}
@media screen and (max-width: 320px){
	.icon-blocks{
		li{
		width: 95%;
		}
	}
}

//search landing page
.search-content{
padding-top: 40px;
}

/*------------------------------------*\
 VIII.   BLOG / NEWS POSTS
\*------------------------------------*/
.recent-blog-post{
font: 15px $open;
margin-bottom: 25px;
}
//addthis styling
.addthis_toolbox{
max-height: 30px;
overflow: hidden;
}
//hide addthis in sidebar
.sidebar iframe, .sidebar .addthis_toolbox{
display: none !important;
}
.sidebar-meta{
font-weight: bold;
font-style: italic;
font-size: 12px;
}
.email-updates{
width: 100%;
//min-height: 250px;
@include background-cover;
padding: 25px 15px;
background: url(images/greenbg.png) top left no-repeat;
	p{
	text-align: center;
	font: 24px $open-cond;
	font-weight: bold;
	padding: 0;
	color: white;
	}
	input[type=email]{
		border: 2px solid $green;
		outline: none;
		box-shadow: none;
		width: 100%;
		height: 40px;
		margin-top: 10px;
	}
	input[type=submit]{
		background: $blue;
		border: 2px solid white;
		@include border-radius(55px);
		display: block;
		margin: 20px auto 0;
		width: 75%;
		height: 32px;
		color: white;
		font: 15px $open;
		font-weight: bold;
		@include transition(.4s);
		&:hover{
			background: none;
		}
	}
}

.post-title{
border-bottom: 3px solid $blue;
margin-bottom: 30px;
	h2{
	padding-bottom: 2px;
	}
	h2:after{
	display: none;
	}
	span{
	color: $blue;
	font: 1em $open;
	font-style: italic;
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
	}
}
.featured-image-blog{
width: 100%;
margin-bottom: 8px;
	img{
	width: 100%;
	height: auto;
	}
}

.post-index{
margin-bottom: 45px;
}


//post navigation
.navigation{
margin-top: 30px;
color: $blue;
	.alignleft{
	float: left;
	}
	.alignright{
	float: right;
	}
}


/*------------------------------------*\
 IX.   FOOTER
\*------------------------------------*/
//outdated browser id
#outdated{
z-index: 1099999 !important;
}

footer{
background: $blue;
width: 100%;
margin-top: 30px;
padding: 53px 0;
}
.copyright{
color: white;
	p{
	font: 0.8375em $open;
	margin-top: 32px;
	}
	a{
	color: white;
	text-decoration: underline;
	}
}
.footer-nav{
	ul{
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
		li{
		display: inline-block;
		padding: 0 5px;
			a{
			color: white;
			font: 0.8375em $open;
			font-weight: bold;
			}
		}
	}
}
.site-credit{
background: $drk-blue;
width: 100%;
color: white;
padding: 8px 0;
	span{
	font-family: 'Helvetica';
	letter-spacing: -1px;
	}
	a{
	color: white;
	font-weight: bold;
	}
}

//search box
.search-row{
display: none;
width: 100%;
position: absolute;
margin-top: 100px;
top: -5px;
z-index: 99999;
	.search-box{
	//background: $blue;
	height: 45px;
	opacity: 0;
	margin-top: 100px;
		.small-6{
		background: $blue;
		height: 45px;
		margin: 1px 17px 0 0;
		padding: 12px;
		color: white;
			form{
			display: inline-block;
			width: 90%;
				label{
				display: none;
				}
				input{
				background: none;
				border: none;
				outline: none;
				box-shadow: none;
				color: white;
				margin-left: 15px;
				width: 100%;
				}
				@include placeholder{
					color: white;
				}
			}
		}
	}
}


/*------------------------------*|
X. MEDIA QUERIES
\*------------------------------*/
@media screen and (max-width: 1024px){
	.home-slider{
	height: 445px;
	}
	.home-slider .home-slide{
	height: 445px;
	}
	.home-slider .slide-content{
	height: 450px;
	}
	.mega-menu{
	top: 189px;
	}
}
@media screen and (max-width: 986px){
	header nav ul li a{
	padding: 13px 6px;
	font-size: 0.8em;
	}
}

@media screen and (max-width: 800px){
	//nav items
	header nav ul li a{
	padding: 13px 3px;
	font-size: 0.8em;
	}
	
	//utility nav
	header .utility ul li a{
	font-size: 0.8em;
	}
	
	//search bar
	.search-row .search-box .small-6{
	margin-right: 0;
	}
	.search-row .search-box{
	margin-top: 70px;
	}
	
	//icon blocks
	.icon-blocks li{
	padding: 32px 13px 75px;
	}
	
	//home boxes
	.box-container .small-10{
	font-size: 1.375em;
	}
}

//ipad vertical
@media screen and (max-width: 768px){
	.home-slider{
	height: 300px;
	}
	.home-slider .home-slide{
	height: 300px;
	}
	.home-slider .slide-content{
	height: 315px;
	}
	.home-slider .slide-content .content-container h1{
	font-size: 1.25em;
	padding-left: 40px;
	padding-right: 40px;
	}
	.home-slider .slide-content .content-container p{
	font-size: 1.05em;
	}
	.top-box .button-green{
	margin: 15px 10px;
	}
	.box-container .small-10 {
    font-size: 1.075em;
	}
}

@media screen and (max-width: 40em){
	
	//header
	header{
	padding-bottom: 20px;
	}
	header .utility{
	margin-top: 0;
		ul{
			li{
				a{
				font-size: 14px;
				}
			}
		}
	}
	header .social-icons{
	margin: 15px auto 0;
	text-align: center !important;
	}
	header .register{
	margin-top: 20px;
	}
	//timeline CSS
	.timeline:before {
	  content: "";
	  position: absolute;
	  bottom: -1px;
	  left: -5px;
	  width: 5px;
	  height: 128px;
	  border-radius: 40px;
	  background: white;
	  border: 5px solid white;
	}
	
	.page-navigation{
	padding: 10px 17px;
	}
	
	//homepage
	.counter-text{
	padding: 0 0 35px;
	}
	.top-box .button-green{
	width: 80%;
	margin: 10px;
	}
	.top-box .button{
	margin: 10px auto;
	}
	.top-box .medium-6:nth-child(2){
	margin-top: 40px;
	}
	.events-newsroom .button{
	float: none;
	margin: 5px auto !important;
	}
	//homepage hero
	.home-slide, .slide-content{
	height: 160px !important;
	}
	.home-slider{
	height: 411px !important;
	}
	.home-slide, .slick-list, .slick-track{
	overflow: visible !important;
	//overflow-x: hidden !important;
	}
	.home-slider{
	overflow: hidden;
	}
	.content-container{
	position: relative !important;
    top: 160px;
    padding: 23px 20px 0px;
    background: #0075C9;
    width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    padding-bottom: 61px !important;
    background-image: none !important;
    height: 251px;
	}
	.slick-prev, .slick-next{
	top: 25%;
	}
	.home-slider .slide-content .content-container h1{
	line-height: 1em;
	font-size: 1.5em;
	}
	.home-slider .slide-content .content-container p{
	font-size: 1em;
	}
	.slick-next{
	right: 0;
	}
	.slick-prev{
	left: 0;
	}
	.slick-next:before, .slick-prev:before{
	font-size: 30px;
	}
	
	//live counter text
	.counter{
	font-size: 2.5em;
	}
	
	//white blocks on home
	.box-container .small-10{
	font-size: 1.55em;
	}
	
	//events
	.upcoming-events .date-box{
	width: 30%;
	}
	.upcoming-events .event-title{
	margin-top: 15px;
	}
	.upcoming-events li{
	padding: 40px 30px;
	}
	
	// ------ INTERIOR PAGES --------
	//page header
	.page-header{
	height: auto;
	margin: 0;
	}
	.page-header .content-container{
	height: auto;
    overflow: hidden;
    display: block;
    position: relative !important;
    padding: 20px 0;
    top: 0;
    margin: 0;
    padding-bottom: 20px !important;
	}
	.page-header .content-container h1{
	padding: 0;
	font-size: 1.5em;
	}
	.page-header .slide-content{
	height: 225px !important;
	}
	
	//alternate h2
	h2.no-line{
	font-size: 1.4em;
	line-height: 1.1em;
	}
	
	.page-header-no-image{
	height: auto;
	padding: 40px 0;
	overflow: hidden;
		h1{
		padding: 5px 0;
		font-size: 1.5em;
		}
	}
	
	//certification headline
	.page-id-69 .page-header-no-image h1{
		padding-top: 0;
	}
	
	//mobile breadcrumbs
	#crumbs{
		span,a{
		font-size: .8em;
		}
	}
	
	//map for single events
	.single-event .medium-8 .type-event > div{
	float: none !important;
	margin: 0 auto !important;
	text-align: center;
	}
	.em-location-map-container{
	margin: 0 auto;
	width: 100% !important;
	}
}

//we need some more specific queries for some elements
@media screen and (max-width: 571px){
	.timeline:before{
		height: 154px;
	}
}
@media screen and (max-width: 458px){
	.timeline:before{
		height: 193px;
	}
}
//iphone 6
@media screen and (max-width: 375px){
	.timeline:before{
		height: 200px;
	}
}
//iphone 5
@media screen and (max-width: 320px){
	.timeline:before{
		height: 240px;
	}
}
//iphone 4
@media scren and (max-width: 320px) and (max-height: 480px){
	.timeline:before{
		height: 235px;
	}
}