 body {
  background: #efefef;
  color: #333;
  font: 120%/1.4;
  font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%; }


@media screen and (max-width: 1024px) {
	.row {padding: 0 30px;}
}



 
  header {
	  background: #4B4F54;
	  padding: 20px 5px 0px;
	  margin-bottom: 50px;
	  color: #fff;
	  font-weight: 100;
  }
  
  header h1, header h3, header a {color: #fff; font-weight: 100 !important;}
  header a:hover {color: #0088b9;}
  
  header h1 {margin-bottom: 0; padding: 5px;}
  header h3 {font-size: 16px; margin: 0; padding: 0 0 20px 5px; text-transform: uppercase !important;}
  
  
/*   /////Home Hub tools */
  
  .homenav li a {
	  padding-top: 80px;
	  padding-bottom: 80px;
	  display: block;
	  text-align: center;
	  border: 1px solid #d8d8d8;
	  background: #efefef;
	  -webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
  }
  
  .homenav li a:hover {
	  background: #0088b9;
	  color: #fff;
  }
  
   footer {
	  background: #ccc;
	  padding: 20px;
	  margin-top: 50px;
  }
  
  
  article.row {margin-bottom: 50px;}
  article.row p {line-height: 1.7em; font-weight: 300;}
  
  
  
     footer {
	  background: #ccc;
	  padding: 20px;
	  margin-top: 50px;
  }
  
  
  
  
  
/*
  
  Login
*/
  .loginbutton {background: #0088b9;}
    .loginbutton:hover {background: #005878;}