////////////////////////////////////////////////////////////////////////
///////////------Factor1 Nav------//////////////////////////////////////
// a jquery tool by Eric Stout (@buschschwick) and Matt Adams (@mattada) 
// version 1.4 ////////////////////////////////////////////////////////
// http://factor1studios.com  ////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
body,html{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

.panel{
position: relative;
width: 100%; /*you could have different widths if you want, but 100% is most common*/
border: 0px;
padding: 0;	
background: white;	
color: white;
top: 0;
display: none;
z-index: 9999;
overflow: scroll;
margin-bottom: 0;
padding-bottom: 0;
-ms-overflow-style: none; /* hides the scrollbars for Internet Explorer on the panel */
}

.mask{
background: rgba(0,0,0,0.62);
height: 100%;
width: 100%;
z-index: 9998;
position: fixed;
top:0;	
opacity: 0;
}

//animated hamburger styles
#nav-toggle{
width: 30px;
height: 40px;
display: block;
background: none;
position: relative;
margin: 0 auto;
transition: all .3s ease;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
cursor: pointer;
border-radius: 1px;
height: 3px;
width: 30px;
background: rgb(171,171,171);
position: absolute;
top: 21px;
right: 0px;
display: block;
content: '';
}
#nav-toggle span:before {
top: -8px;
}
#nav-toggle span:after {
bottom: -8px;
top: 8px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
top: 0;
}
#nav-toggle.active span:before {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
#nav-toggle.active span:after {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
#nav-toggle:hover{
opacity: .5;
}