/************Reset**************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

/************End Reset**************/
/************Global**************/

a {
  color: #2558a5;
  text-decoration: none; }

a:hover, a:focus {
  color: #2558a5;
  text-decoration: underline; }

p {
  margin: 0 0 1em; }

img, object, video {
  max-width: 100%;
  border: 0; }

a img {
  border: 0;
  outline: 0; }


h2 {
  text-transform: lowercase;
  font-size: 3em;
  line-height: 1.1;
  margin: 0 0 0.4em; }

h3 {
  font-size: 1.8em;
  line-height: 1.1;
  margin: 0 0 0.2em;
  text-transform: lowercase; }
  
  
  
  

  

  
  article.row {margin-bottom: 50px;}
  article.row p {line-height: 1.7em; font-weight: 300;}
  
  
  

/************End Global**************/
/************Timeline**************/
/* Timeline Container */
.timeline {
  border-left: 5px solid #dddddd;
  padding-bottom: 3em;
  position: relative; }
  .timeline:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1.38em;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #009aff;
    border: 5px solid #009aff; }





/* Individual Timeline Item */
.tl-node {
  padding-left: 2em;
  margin-bottom: 3em;
  position: relative; }
  .tl-node a {
    display: block; }
  .tl-node:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -0.78em;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    border: 5px solid #009aff; }
    
    
         .tl-node.development:before {
    background: #74c700;
    border: 5px solid #74c700; }
    
     .tl-node.critical:before {
    background: #c70000;
    border: 5px solid #c70000; }
    




/* Timestamp */
.tl-stamp {
	font-weight: 100;
	border-bottom: dotted 1px #ccc;
	font-size: 1.2em;
	top: -4px;
	color: #555; }
  
  
 .tl-node.critical h4.tl-stamp {color: #c70000}
 
  
 .tl-content {
	 font-size: 1em;
	 font-weight: 300;
	 color: #333;
	 padding-bottom: 20px
 }
 
 .tl-content p {
	 line-height: 1.7em;
	 font-size: 0.9em;
	 font-weight: 300;
	 color: #555;
 }
 
.tl-node a {
	 font-size: 0.75em;
 }
 
 
 .mutted {opacity: 0.25;}

/************End Timeline**************/

.completed {
	opacity: 0.5;
	filter:  grayscale(100%) !important;
}

.completed > * {
	filter:  grayscale(100%) !important;
}




footer p, footer a {
	text-align: center;
	color: #333;
}

footer p span {
	font-weight: 700;
	letter-spacing: -1px;
}