/* Import the regular site styles */
@import 'http://factor1hosting.com/~dnaz/wordpress/wp-content/themes/dnaz-15/main.css';

.small-12{
	.submit{
	float: right;
	}
}

//fix the nested row margin issue
section .row .row{
margin: 0 auto;
}

ol li ol{
padding: 0;
margin: 10px 0 10px 24px;
	li{
	font-size: 18px;
	list-style: upper-alpha;
	}
}

ul{
	li{
		ul{
		padding-bottom: 0;
		margin-bottom: 0;
			li{
			font-size: 18px;
			}
		}
	}
}

//tisue donation table
.tissue-donation{
border: 1px solid #505050;
	thead tr td{
	font-weight: bold;
	border: 1px solid #505050;
	}
	tbody tr td{
	border: 1px solid #505050;
	}
}

h3{
padding-top: 15px;
}

.small-text{
font-size: 14px;
}

//discussion process ordered list
.discussion-process{
	li{
	list-style: upper-roman;
		ol{
			li{
			list-style: upper-alpha;
			}
		}
	}
}

//survey page
.survey-submit{
padding-top: 25px;
}

textarea{
height: 200px;
margin: 10px 10px 40px;
}

.legal{
font-size: 14px;
}

.mission-statement{
	h1{
	color: #0075C9;
	padding-bottom: 0;
	}
	h2{
	color: black;
	text-transform: none;
		&:after{
		display: none;
		}
	}
}

.button-row{
	margin-top: 20px;
}

//alert boxes
.messages{
	.alert-box.alert{
		background-color: rgba(181, 29, 29, 0.81);
		border-color: rgba(181, 29, 29, 0.81);
		margin: 20px 20px 40px;
		h1{
		padding: 0px 0 25px 0;
		color: white;
		}
		ul.no-bullet{
		padding: 0;
		}
	}
}
.alert-box .close{
	top: 17px;
}

.account-details{
	background-color: rgba(0, 119, 202, 0.92);
}

//course completed template
.course-complete{
	.button{
	margin: 0 auto;
	}
}

.legal-container{
margin-top: 40px;
}